<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    简单类型的set注入  -->
    <bean id="myStudent" class="com.jun.bao01.domain.Student">
        <property name="name" value="vanessa" />
        <property name="age" value="18" />
    </bean>
</beans>